<p>Customers</p>

Filter:<input type="text" id="filter">&nbsp;      
<input type="button" value="Add new customer" id="button1"><br><br>
<table style="width: 80%;" border="1">
    <tr align="left">
      <th>First name</th>
      <th>Last name</th>
      <th>City</th>
      <th>State</th>
      <th>Order Total</th>
    </tr>
    <tr>
      <td>Ted </td>
      <td>James</td>
      <td>Arizona</td>
      <td>Texas</td>
      <td>$1245.89</td>
    </tr>
    <tr>
      <td>Erica</td>
      <td>Chang</td>
      <td>Los Angeles</td>
      <td>California</td>
      <td>$1685.09</td>
    </tr>
    <tr>
        <td>Robin </td>
      <td>Cleark</td>
      <td>Seattle</td>
      <td>Washington</td>
      <td>$1565.39</td>
    </tr>
  </table>

